USE [master]
GO
/****** Object:  Database [DBPERSONEL]    Script Date: 26.04.2020 17:32:15 ******/
CREATE DATABASE [DBPERSONEL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBPERSONEL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DBPERSONEL.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DBPERSONEL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DBPERSONEL_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBPERSONEL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBPERSONEL]
GO
/****** Object:  Table [dbo].[TBLDEPARTMAN]    Script Date: 26.04.2020 17:32:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBLDEPARTMAN](
	[DEPARTMANID] [tinyint] IDENTITY(1,1) NOT NULL,
	[DEPARTMANAD] [varchar](30) NULL,
 CONSTRAINT [PK_TBLDEPARTMAN] PRIMARY KEY CLUSTERED 
(
	[DEPARTMANID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBLMUSTERI]    Script Date: 26.04.2020 17:32:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBLMUSTERI](
	[MUSTERIID] [int] IDENTITY(1,1) NOT NULL,
	[MUSTERIAD] [varchar](50) NULL,
	[MUSTERISOYAD] [varchar](50) NULL,
 CONSTRAINT [PK_TBLMUSTERI] PRIMARY KEY CLUSTERED 
(
	[MUSTERIID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBLPERSONEL]    Script Date: 26.04.2020 17:32:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBLPERSONEL](
	[PERSONELID] [int] IDENTITY(1,1) NOT NULL,
	[PERSONELAD] [varchar](30) NULL,
	[PERSONELSOYAD] [varchar](30) NULL,
	[PERSONELDEPARTMAN] [tinyint] NULL,
	[PERSONELMAAS] [decimal](18, 2) NULL,
	[PERSONELFOTOGRAF] [varchar](200) NULL,
 CONSTRAINT [PK_TBLPERSONEL] PRIMARY KEY CLUSTERED 
(
	[PERSONELID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBLSATIS]    Script Date: 26.04.2020 17:32:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLSATIS](
	[SATISID] [int] IDENTITY(1,1) NOT NULL,
	[URUN] [int] NULL,
	[PERSONEL] [int] NULL,
	[TUTAR] [decimal](18, 2) NULL,
	[MUSTERI] [int] NULL,
 CONSTRAINT [PK_TBLSATIS] PRIMARY KEY CLUSTERED 
(
	[SATISID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBLURUN]    Script Date: 26.04.2020 17:32:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBLURUN](
	[URUNID] [int] IDENTITY(1,1) NOT NULL,
	[URUNAD] [varchar](30) NULL,
	[URUNFIYAT] [decimal](18, 2) NULL,
	[URUNADET] [int] NULL,
 CONSTRAINT [PK_TBLURUN] PRIMARY KEY CLUSTERED 
(
	[URUNID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TBLDEPARTMAN] ON 

INSERT [dbo].[TBLDEPARTMAN] ([DEPARTMANID], [DEPARTMANAD]) VALUES (1, N'MUHASEBE')
INSERT [dbo].[TBLDEPARTMAN] ([DEPARTMANID], [DEPARTMANAD]) VALUES (2, N'SATIŞ')
INSERT [dbo].[TBLDEPARTMAN] ([DEPARTMANID], [DEPARTMANAD]) VALUES (3, N'GÜVENLİK')
SET IDENTITY_INSERT [dbo].[TBLDEPARTMAN] OFF
SET IDENTITY_INSERT [dbo].[TBLMUSTERI] ON 

INSERT [dbo].[TBLMUSTERI] ([MUSTERIID], [MUSTERIAD], [MUSTERISOYAD]) VALUES (1, N'EMEL', N'YILDIZ')
INSERT [dbo].[TBLMUSTERI] ([MUSTERIID], [MUSTERIAD], [MUSTERISOYAD]) VALUES (2, N'CEMRE', N'ÖZHAN')
INSERT [dbo].[TBLMUSTERI] ([MUSTERIID], [MUSTERIAD], [MUSTERISOYAD]) VALUES (3, N'YUSUF', N'YILMAZ')
SET IDENTITY_INSERT [dbo].[TBLMUSTERI] OFF
SET IDENTITY_INSERT [dbo].[TBLPERSONEL] ON 

INSERT [dbo].[TBLPERSONEL] ([PERSONELID], [PERSONELAD], [PERSONELSOYAD], [PERSONELDEPARTMAN], [PERSONELMAAS], [PERSONELFOTOGRAF]) VALUES (1, N'ALİ', N'ÇINAR', 1, CAST(3000.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[TBLPERSONEL] ([PERSONELID], [PERSONELAD], [PERSONELSOYAD], [PERSONELDEPARTMAN], [PERSONELMAAS], [PERSONELFOTOGRAF]) VALUES (2, N'AYŞE', N'ÖZTÜRK', 1, CAST(3500.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[TBLPERSONEL] ([PERSONELID], [PERSONELAD], [PERSONELSOYAD], [PERSONELDEPARTMAN], [PERSONELMAAS], [PERSONELFOTOGRAF]) VALUES (3, N'MEHMET', N'YILDIRIM', 2, CAST(3200.00 AS Decimal(18, 2)), NULL)
SET IDENTITY_INSERT [dbo].[TBLPERSONEL] OFF
SET IDENTITY_INSERT [dbo].[TBLSATIS] ON 

INSERT [dbo].[TBLSATIS] ([SATISID], [URUN], [PERSONEL], [TUTAR], [MUSTERI]) VALUES (1, 2, 1, CAST(25.00 AS Decimal(18, 2)), 2)
INSERT [dbo].[TBLSATIS] ([SATISID], [URUN], [PERSONEL], [TUTAR], [MUSTERI]) VALUES (2, 6, 1, CAST(60.00 AS Decimal(18, 2)), 2)
INSERT [dbo].[TBLSATIS] ([SATISID], [URUN], [PERSONEL], [TUTAR], [MUSTERI]) VALUES (3, 1, 2, CAST(3500.00 AS Decimal(18, 2)), 3)
SET IDENTITY_INSERT [dbo].[TBLSATIS] OFF
SET IDENTITY_INSERT [dbo].[TBLURUN] ON 

INSERT [dbo].[TBLURUN] ([URUNID], [URUNAD], [URUNFIYAT], [URUNADET]) VALUES (1, N'BİLGİSAYAR', CAST(3500.00 AS Decimal(18, 2)), 10)
INSERT [dbo].[TBLURUN] ([URUNID], [URUNAD], [URUNFIYAT], [URUNADET]) VALUES (2, N'SU ISITICI', CAST(25.00 AS Decimal(18, 2)), 50)
INSERT [dbo].[TBLURUN] ([URUNID], [URUNAD], [URUNFIYAT], [URUNADET]) VALUES (3, N'KLAVYE', CAST(85.00 AS Decimal(18, 2)), 5)
SET IDENTITY_INSERT [dbo].[TBLURUN] OFF
ALTER TABLE [dbo].[TBLPERSONEL]  WITH CHECK ADD  CONSTRAINT [FK_TBLPERSONEL_TBLDEPARTMAN] FOREIGN KEY([PERSONELDEPARTMAN])
REFERENCES [dbo].[TBLDEPARTMAN] ([DEPARTMANID])
GO
ALTER TABLE [dbo].[TBLPERSONEL] CHECK CONSTRAINT [FK_TBLPERSONEL_TBLDEPARTMAN]
GO
ALTER TABLE [dbo].[TBLSATIS]  WITH CHECK ADD  CONSTRAINT [FK_TBLSATIS_TBLMUSTERI] FOREIGN KEY([MUSTERI])
REFERENCES [dbo].[TBLMUSTERI] ([MUSTERIID])
GO
ALTER TABLE [dbo].[TBLSATIS] CHECK CONSTRAINT [FK_TBLSATIS_TBLMUSTERI]
GO
ALTER TABLE [dbo].[TBLSATIS]  WITH CHECK ADD  CONSTRAINT [FK_TBLSATIS_TBLPERSONEL] FOREIGN KEY([PERSONEL])
REFERENCES [dbo].[TBLPERSONEL] ([PERSONELID])
GO
ALTER TABLE [dbo].[TBLSATIS] CHECK CONSTRAINT [FK_TBLSATIS_TBLPERSONEL]
GO
ALTER TABLE [dbo].[TBLSATIS]  WITH CHECK ADD  CONSTRAINT [FK_TBLSATIS_TBLURUN] FOREIGN KEY([URUN])
REFERENCES [dbo].[TBLURUN] ([URUNID])
GO
ALTER TABLE [dbo].[TBLSATIS] CHECK CONSTRAINT [FK_TBLSATIS_TBLURUN]
GO
/****** Object:  StoredProcedure [dbo].[DEPARTMANLISTESI]    Script Date: 26.04.2020 17:32:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DEPARTMANLISTESI]
AS
SELECT PERSONELID, PERSONELAD, PERSONELSOYAD, DEPARTMANAD, PERSONELMAAS, PERSONELFOTOGRAF FROM TBLPERSONEL 
INNER JOIN TBLDEPARTMAN 
ON TBLPERSONEL.PERSONELDEPARTMAN = TBLDEPARTMAN.DEPARTMANID
GO
/****** Object:  StoredProcedure [dbo].[SP_SATISLAR]    Script Date: 26.04.2020 17:32:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SATISLAR]
AS
SELECT SATISID, URUNAD, PERSONELAD + ' ' + PERSONELSOYAD AS 'PERSONEL', MUSTERIAD + ' ' + MUSTERISOYAD AS 'MUSTERI', TUTAR FROM TBLSATIS 
INNER JOIN TBLURUN ON TBLSATIS.URUN = TBLURUN.URUNID
INNER JOIN TBLPERSONEL ON TBLSATIS.PERSONEL = TBLPERSONEL.PERSONELID 
INNER JOIN TBLMUSTERI ON TBLSATIS.MUSTERI = TBLMUSTERI.MUSTERIID
GO
USE [master]
GO
