USE [DBPERSONEL]
GO
/****** Object:  StoredProcedure [dbo].[SP_SATISLAR]    Script Date: 24.04.2020 17:24:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_SATISLAR]
AS
SELECT SATISID, URUNAD, PERSONELAD + ' ' + PERSONELSOYAD AS 'PERSONEL', MUSTERIAD + ' ' + MUSTERISOYAD AS 'MUSTERI', TUTAR FROM TBLSATIS 
INNER JOIN TBLURUN ON TBLSATIS.URUN = TBLURUN.URUNID
INNER JOIN TBLPERSONEL ON TBLSATIS.PERSONEL = TBLPERSONEL.PERSONELID 
INNER JOIN TBLMUSTERI ON TBLSATIS.MUSTERI = TBLMUSTERI.MUSTERIID

